<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap"
        rel="stylesheet">
    <title>Reports</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">

</head>

<body>

    <div id="sidebarContainer"></div>
    <header>
        <h1 id="pageTitle">Reports</h1>
    </header>

    <div class="main-container">
        <p id="pageDescription" class="text-muted fs-6 mb-4">
            Welcome to your Reports section! Here you can generate and view various reports for your bar operations.
        </p>

        <h5>Generate Report</h5>
        <form id="reportForm" class="row g-3 mb-4">

            <div class ="col-md-3">
                <select class="form-select" id="reportType" required>
                    <option value="">Select Report</option>
                    <option value="sales">Sales</option>
                    <option value="purchases">Purchases</option>
                    <option value="waste">Waste</option>
                    <option value="profit">Profit/Loss</option>
                </select>
            </div>

            <div class ="col-md-3">
                <input type="date" class="form-control" id="startDate" required>
            </div>
            <div class ="col-md-3">
                <input type="date" class="form-control" id="endDate" required>
            </div>
            <div class ="col-md-3">
                <button type="submit" class="btn btn-primary">Generate</button>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Report Type</th>
                    <th>Date Range</th>
                    <th>Details</th>
                    <th>Generate</th>
                </tr>
            </thead>
            <tbody id="reportsTable"></tbody>
        </table>
        <div class="card">
            <div class="card-header">
                Report Output
            </div>
            <div id="reportOutput">
                <p class="text-muted">
                    Select which report you would like to create results.
                </p>
            </div>
        </div>
        <div id="aiBubble">💬</div>
        <div id ="aiChatBox">
            <button id="closeAiChat">✕</button>
            <div id="aiMessages"></div>

            <input type="text" id="aiInput" placeholder="Ask about sales, stock..." />  
            <button onclick="sendMessage()">Send</button>
        </div>
        <!-- Enter rest of content for reports here-->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

    <script src="{{ url_for('static', filename='js/reports.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ai.js') }}"></script>
</body>

</html>